<a href="/"><button type="button">Go to Home Page</button></a><br />

<h2>Celebrities List</h2>

<div>

  {{#each allCelebrities}}
    <ul>

      <li>
        {{this.name}}
      </li>

    </ul>

  {{/each}}
</div>